body {
  background-color: #121212 !important;
}

.alert {
  padding: 2em;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  text-align: center;
}

.bg-dark {
  background: rgb(33, 35, 39);
}
